[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
sklearn = "*"
tqdm = "*"
torch = "*"
spacy = "*"
torchtext = "*"
en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz"}
scikit-learn = "*"
dvc = {extras = ["s3", "ssh"],version = "*"}
sacrebleu = "*"
jupyterlab = "*"

[requires]
python_version = "3.6"
